// BASE - FONTS

@font-face {
  font-family: "Source Serif";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/source_serif/WOFF2/SourceSerifPro-Regular.ttf.woff2') format('woff2');
}

@font-face {
  font-family: "Source Serif";
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('../../assets/fonts/source_serif/WOFF2/SourceSerifPro-RegularIt.ttf.woff2') format('woff2');
}

@font-face {
  font-family: "Source Serif";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/source_serif/WOFF2/SourceSerifPro-Bold.ttf.woff2') format('woff2');
}

@font-face {
  font-family: "Source Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/source_sans/WOFF2/SourceSansPro-Regular.otf.woff2') format('woff2');
}

@font-face {
  font-family: "Source Sans";
  font-weight: bold; 
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/source_sans/WOFF2/SourceSansPro-Bold.otf.woff2') format('woff2');
}

@font-face {
  font-family: "Source Code";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/source_code/WOFF2/SourceSerifPro-Bold.ttf.woff2') format('woff2');
}