
.post-list-container{
	padding-left: 2rem;
	padding-right: 2rem;
}

// // LAYOUT - POST - LIST

// .post-image-container{
//  	background-size: cover;
//  	background-position: 50% 50%;
//  	transition: all 0.4s ease;
//  	width: 100%;
//  	height: 100%;
//  	position: absolute;
// }

// .post-item{
// 	padding-top: 2rem;
// 	padding-bottom: 2rem;
// 	margin-bottom: 0;
// 	position: relative;
// 	box-shadow: 0 0 0px rgba(0,0,0,0);
// 	z-index: 5;
// }

// .post-link:hover .post-item{
// 	box-shadow: 0 0 50px rgba(0,0,0,0.1);
// 	z-index: 10;
// }

// .post-item-color-bg{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	transition: all 0.2s;
// 	z-index: 2;
// }

// .post-link:first-of-type .post-border-bottom-a{
// 	opacity: 0;
// }
// .post-link:hover + .post-link .post-border-bottom{
// 	opacity: 0;
// }

// .post-item-bg{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background-color: white;
// 	z-index: 3;
// 	opacity: 0;
// 	transition: all 0.3s;
// }

// .post-item-content-container{
// 	position: relative;
// 	z-index: 5;
// }

// .text-container,
// .subtitle-date{
// 	// transition: all 0.65s;
// }

// // .post-link:hover .text-container,
// // .post-link:hover .subtitle-date{
// // 	transform:translateX(1.5rem);
// // 	transition: all 0.4s;
// // }

// .post-anchor{
// 	text-decoration: none;
// 	color: black;
// }

// .post-border-bottom{
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	left: 0;
// 	transition: all 0.2s;
// }

// .post-border-bottom-a{
// 	opacity: 1;
// 	height: 1px;
// 	top: -2rem;
// 	background-color: rgba(0,0,0,0.1);
// }

// .post-border-bottom-b{
// 	position: absolute;
// 	width: 100%;
// 	bottom: -2rem;
// 	height: 1px;
// 	left: 0;
// 	transition: all 0.2s;	
// }

// .post-border-bottom-b{
// 	opacity: 0;
// 	transform-origin: center bottom;
// }

// .text-container{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;

// 	.go-arrow{
// 		color: black;
// 		opacity: 0;
// 		font-family: "Georgia", Helvetica, Arial;
// 		font-size: 1.25rem;
// 		transform: translateX(-3rem);
// 	}
// }

// .post-item h4{
// 	margin-top: 0;
// 	text-decoration: none;
// 	color: black;
// 	margin-bottom: 0;
// 	text-transform: none;
// 	font-size: 1.5rem;
// 	font-weight: bold;
// 	position: relative;
// 	opacity: 0.875;
// 	line-height: 1;
// 	width: 100%;
// 	text-align: center;
// }

// .post-item .subtitle-date {
// 		width: 100%;
// 		text-align: center;
// 		color: black;
//     display: block;
//     margin-bottom: 0.5em;
//     margin-top: 0;
// }

// .post-link:hover .post-border-bottom-a{
// 	opacity: 0;
// }

// .post-link:hover .post-border-bottom-b,
// .post-link:hover h4{
// 	opacity: 1;
// }

// .post-link:hover .go-arrow{
// 	transition: all 0.2s ease;
// 	opacity: 1;
// 	transform: translateX(-3rem);
// }

// .post-link:hover .post-border-bottom-b{
// 	transform: scaleY(3);
// }

// .post-item p{
// 	margin-bottom: 0;
// }

// .post-item :first-child{
// 	margin-top: 0;
// }

// .post-item.post-with-image{
// 	margin-top: 2rem;
// 	padding-top: 0;
// }

// .post-item .post-image-wrapper{
// 	overflow: hidden;
//  	width: 100%;
//  	padding-bottom: 33%;
//  	position: relative;
//  	margin-bottom: 1rem;
// }

// .category-switcher{
// 	width: 100%;
// 	display: flex;
// 	margin-bottom: 0rem;
// }

// .cat-item, .cat-item-all{
// 	list-style: none;
// 	font-family: $sans-stack;
// 	letter-spacing: 0.02em;
// 	opacity: 0.75;
// 	font-size: 0.75rem;
// 	line-height: 1.6;
// 	padding: 0.5rem 0;
// 	margin-right: 2rem;
// }

// .cat-item a,
// .cat-item-all a{
// 	text-decoration: none;
// 	color: black;
// }

// .current-cat{
// 	opacity: 1;
// }

// .current-cat a{
// 	color: red;
// }

html, body{
  margin: 0;
  padding: 0;
  font-family: "Source Serif Pro";
}

//TO DO FIX ALIGNMENT OF TEXT ISSUE

$two-col-breakpoint: 600px;

.post-list-item-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0% 100%;
  background-size: cover;
}

.post-list-body{
  padding: 5vmax;
}

.post-list-container{
  max-width: 20rem;
  margin: 0 auto;  
  @media screen and (min-width: $two-col-breakpoint)            {
    max-width: 50rem;
  }
  // padding-bottom: calc((100vw - 50rem)/2);

}

.image-container{
  margin-bottom: 5vmax;
}

hr{
  padding: 0;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 5vmax;
  background-color: #efefef;
  border: 0;
  height: 3px;
  border-radius: 100px;
}

img{
  max-width: 100%;
  // margin-bottom: 2rem;
}

// .image-box{
//   width: 100%;
//   position: relative;
// }

/* TEXT BOX */

.post-list-item{
  max-width: 65rem;
  width: 100%;
  background-color: #efefef;
  position: relative;
  // Equal margin to spacing
  // margin-bottom: 2rem;
  margin-bottom: calc((100vh - 60%)/16);

  @media screen and (min-width: $two-col-breakpoint) {
    padding-bottom: 60%;
    min-height: 0;
    // margin-bottom: 2rem;
  }
  @media screen and (min-width: 1000px){
    // margin-bottom: calc((100vw - 50rem)/4);
    margin-bottom: calc((100vh - 60%)/8);
  }
}

.post-link:first-of-type .post-list-item{
  margin-top: 4rem;
  @media screen and (min-width: $two-col-breakpoint) {
    margin-top: 6rem;
  }
  @media screen and (min-width: 1200px){
    margin-top: calc((100vh - 60%)/2);
  }
}

.post-link:last-of-type .post-list-item{
  margin-bottom: 4rem;
  @media screen and (min-width: $two-col-breakpoint) {
    margin-bottom: 6rem;
  }
  @media screen and (min-width: 1200px){
   margin-bottom: calc((100vh - 60%)/2);
 }
}
// DYNAMIC CLASS v
// .post-list-item.no-image{
//    min-height: calc(10rem + 30vw);
//   @media screen and (min-width: $two-col-breakpoint) {
//     min-height: 0;
//   }
// }

.post-list-item .text-box{
  font-weight: 400;
}

.post-list-item .text-box-primary h2{
  font-size: calc(1rem + 2vw);
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5rem;
  @media screen and (min-width: 800px) {
    font-size: calc(1rem + 2vw);
  }
  
  @media screen and(min-width: 1000px){
    font-size: 2.2rem;
  }
}

.post-list-item .text-box-primary p{
  font-size: 1rem;
  font-family: "Source Sans Pro";
  margin: 0;
  margin-bottom: 2rem;
}

.post-list-item-inner{
  padding: 5vw;
  box-sizing: border-box;
  width: 100%; 
  // height: 100%;
  @media screen and (min-width: 440px) {
    padding: 1.4rem;
  }
  @media screen and (min-width: $two-col-breakpoint) {
      padding: 3rem;
    position: absolute;
  }
}

.content-container{
  position: relative;
  // height: 100%;
  width: 100%;
}

.flex-container{
  display: flex;
  flex-direction: column-reverse;
  flex: no-flex;
  width: 100%; 
  // height: 100%;
  box-sizing: border-box;
  @media screen and (min-width: $two-col-breakpoint) {
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
  }
}

.meta-content{
  font-family: "Source Code Pro";
  font-size: 0.75rem;
  margin-top: 5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  
  @media screen and (min-width: $two-col-breakpoint) {
    position: absolute;
    margin-top: 0;
  }
}
  @media screen and (min-width: $two-col-breakpoint) {
}

.text-box-primary{
  width: 100%;
  flex-shrink: 0;
  display: block;
  flex-grow: 0;
  @media screen and (min-width: $two-col-breakpoint) {
    width: 50%;
  }
}       
// post-list-item 
// tb-align-left 
// tb-v-align-center 
// ib-c 
// mb-tr 
// no-image

// .tb-tr .post-list-item-inner,
// .tb-cr .post-list-item-inner,
// .tb-br .post-list-item-inner{
//   flex-direction: row-reverse;
// }

.S-post-list-image-bg,
.L-post-list-image-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

@media screen and (max-width: ($two-col-breakpoint - 1 )) {


.S-image--none{ height: calc(20rem + 5vw); }
.S-image--none .content-container, .S-image--none .post-list-item-inner, .S-image--none .flex-container{ height: 100%; }

.S-image-bg-position--top-left, .L-image-bg-position--top-left { background-position: left top; }
.S-image-bg-position--top-center, .L-image-bg-position--top-center { background-position: center top;}
.S-image-bg-position--top-right, .L-image-bg-position--top-right { background-position: right top;}
.S-image-bg-position--center-left, .L-image-bg-position--center-left { background-position: left center;}
.S-image-bg-position--center-center, .L-image-bg-position--center-center { background-position: center center;}
.S-image-bg-position--center-right, .L-image-bg-position--center-right { background-position: right center;}
.S-image-bg-position--bottom-left, .L-image-bg-position--bottom-left { background-position: left bottom;}
.S-image-bg-position--bottom-center, .L-image-bg-position--bottom-center { background-position: center bottom;}
.S-image-bg-position--bottom-right, .L-image-bg-position--bottom-right { background-position: right bottom;}


.L-post-list-image-bg, .L-image-box{ display: none; }

.S-type--image-first .flex-container{ flex-direction: column-reverse; }

.S-type--image-first .image-box{ 
  margin-bottom: 5vw; 
  @media screen and (min-width: 440px) {
    margin-bottom: 1.4rem;
  }
}

.S-image-width--100{}
.S-image-width--90{}
.S-image-width--75{}
.S-image-width--50{}
.S-image-width--25{}

.S-image-padding--none{}
.S-image-padding--small{}
.S-image-padding--medium{}
.S-image-padding--large{}

.S-text-align--left .text-box-primary{ text-align: left; }
.S-text-align--center .text-box-primary{ text-align: center;}
.S-text-align--right .text-box-primary{ text-align: right;} 

.S-post-list-image-bg{}

}

@media screen and (min-width: $two-col-breakpoint) {

  // .L-image-none{ min-height: calc(10rem + 30vw); }
  .content-container, .post-list-item-inner, .flex-container{ height: 100%; }

  .S-post-list-image-bg, .S-image-box{ display: none; }
  .L-post-list-image-bg, .L-image-box{ display: block; }

  .L-type--text-first .flex-container{ flex-direction: row; }
  .L-type--image-first .flex-container{ flex-direction: row-reverse; }

  .L-image-align--top .image-box{ align-self: flex-start; }
  .L-image-align--center .image-box{ align-self: center; }
  .L-image-align--bottom .image-box{ align-self: flex-end; }

  .L-content-align--top .text-box-primary{ align-self: flex-start; }
  .L-content-align--center .text-box-primary{ align-self: center; }
  .L-content-align--bottom .text-box-primary{ align-self: flex-end; }

  .L-text-align--left .text-box-primary{ text-align: left }
  .L-text-align--center .text-box-primary{ text-align: center }
  .L-text-align--right .text-box-primary{ text-align: right }

  .L-content-meta-position--top-left .meta-content{ top: 0; left: 0; bottom: unset; right: unset; }
  .L-content-meta-position--top-right .meta-content{ top: 0; right: 0; bottom: unset; left: unset; }
  .L-content-meta-position--bottom-left .meta-content{ bottom: 0; left: 0; top: unset; right: unset; }
  .L-content-meta-position--bottom-right .meta-content{ bottom: 0; right: 0; top: unset; left: unset; }

}
