{%- capture bg_color_1 -%}{{ page.bg_color_1 }}{%- endcapture -%}
{%- capture bg_color_2 -%}{{ page.bg_color_2 }}{%- endcapture -%}
{%- capture gradient_angle -%}{{ page.gradient_angle }}{%- endcapture -%}
{%- capture content_bg_color -%}{{ page.content_bg_color }}{%- endcapture -%}
{%- capture heading_color -%}{{ page.heading_color }}{%- endcapture -%}
{%- capture heading_link_color -%}{{ page.heading_link_color }}{%- endcapture -%}
{%- capture body_text_color -%}{{ page.body_text_color }}{%- endcapture -%}
{%- capture nav_text_color -%}{{ page.nav_text_color }}{%- endcapture -%}
{%- capture footer_post_link_color -%}{{ page.footer_post_link_color }}{%- endcapture -%}
{%- capture border_color -%}{{ page.border_color }}{%- endcapture -%}

<style>
.base-bg-layer{
	background-image: linear-gradient({{ gradient_angle }}deg, {{ bg_color_1 }}, {{ bg_color_2 }});
}

.article-wrapper a{
	color: inherit;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-size: 120% 0.1em;
  background-repeat: no-repeat;
  background-position-y: 92.5%;
  text-decoration: none;
}

.article-wrapper .lightbox-backdrop,
.article-top-layer{
  background-color: {{ content_bg_color }};
}

.article-wrapper hr{
	border-top: 3px solid {{ border_color }};
}

.article-wrapper p,
li,
ul,
figcaption,
h2,
h3,
h4,
h5,
pre,
.article-subtitle,
.btc,
.article-wrapper a.btc,
.home-link a{
	color: {{ body_text_color }};
}

.bc{
	background-color: {{ body_text_color }};
}

.home-link a:hover{
	color: {{ body_text_link_color }};
}

.article-wrapper a{
	background-image: linear-gradient(0deg, {{ body_text_link_color }}, {{ body_text_link_color }});
}

p code,
li code{
color: <?php echo get_field("code_text_color"); ?>;
}

.article-wrapper a:hover,
.article-wrapper .content-quote footer a{
	color: {{ body_text_link_color }};
	background-image: none;
}

.article-wrapper h1,
.article-wrapper h2,
.article-wrapper h3{
	color: {{ heading_color }};
}

.article-wrapper h1 a{
	background-image: linear-gradient(0deg, {{ heading_link_color }}, {{ heading_link_color }});
}

.code-border-left{
	background: linear-gradient(-90deg, transparent calc(100% - 1rem), {{ content_bg_color }});
}

.code-border-right{
	background: linear-gradient(90deg, transparent calc(100% - 1rem), {{ content_bg_color }});
}

.article-wrapper h1 a:hover{
	color: {{ heading_link_color }};
	background-image: none;
}

.navigation a,
.next-previous-container .control-label{
	color: {{ nav_text_color }};
}

.navigation .nav-item:hover:after{
  background-color: {{ nav_text_color }}; 
}

.letter{
	fill: {{ nav_text_color }};
}

.shadow{
	fill: {{ nav_text_color }};
	opacity: 0.5;
}

.control-container .control-post-name{
	color: {{ footer_post_link_color }};
}
</style>