{%- capture caption -%}{{ block.caption }}{%- endcapture -%}
{%- capture image -%}{{ block.image }}{%- endcapture -%}
{%- capture caption_alignment -%}{{ block.caption_alignment }}{%- endcapture -%}
{%- capture use_image_matte -%}{{ block.use_image_matte }}{%- endcapture -%}
{%- capture bg_color_1 -%}{{ block.bg_color_1 }}{%- endcapture -%}
{%- capture bg_color_2 -%}{{ block.bg_color_2 }}{%- endcapture -%}
{%- capture bg_angle -%}{{ block.bg_angle }}{%- endcapture -%}
{%- capture bg_opacity -%}{{ block.bg_opacity }}{%- endcapture -%}
<div class="content-gallery {% if use_image_matte == 'true' %}content-gallery-matte{% endif %}">
	{%- if use_image_matte == 'true' -%}
		<div class="image-matte-bg" style="background-image:linear-gradient({{ bg_angle }}deg, {{ bg_color_1 }}, {{ bg_color_2 }}); opacity: {{ bg_opacity }};"></div>
	{%- endif -%}
  <figure {%- if caption_alignment == "right" -%}caption-aside{%- endif -%}>
		<a href="{{ image }}">
			<img
				sizes="(max-width: 599px) 100vw, (max-width: 999px) and (min-width: 600px) 600px, (min-width: 1000px) 800px"
				data-src="{{ site.cloudinary_url }}/w_400/q_auto:eco/{{ image | replace: 'png', 'jpg'}}"
				data-srcset="
				{{ site.cloudinary_url }}/w_400/q_auto:eco/{{ image | replace: 'png', 'jpg' }} 400w,
				{{ site.cloudinary_url }}/w_800/q_auto:eco/{{ image | replace: 'png', 'jpg'}} 800w,
				{{ site.cloudinary_url }}/w_1200/q_auto:eco/{{ image | replace: 'png', 'jpg'}} 1200w,
				{{ site.cloudinary_url }}/w_1600/q_auto:eco/{{ image | replace: 'png', 'jpg'}} 1600w,
				{{ site.cloudinary_url }}/w_2000/q_auto:eco/{{ image | replace: 'png', 'jpg'}} 2000w"
				alt="">
		</a>
		<figcaption class="st-light">{{ caption }}</figcaption> 
  </figure>
</div>