• THIS IS AN IMAGE

{% capture caption%}{{ block.caption }}{% endcapture %}
{% capture image%}{{ block.image }}{% endcapture %}
{% capture caption_alignment %}{{ block.caption_alignment }}{% endcapture %}
{% capture use_image_matte %}{{ block.use_image_matte }}{% endcapture %}
{% capture bg_color_1 %}{{ block.bg_color_1 }}{% endcapture %}
{% capture bg_color_2 %}{{ block.bg_color_2 }}{% endcapture %}
{% capture bg_angle %}{{ block.bg_angle }}{% endcapture %}
{% capture bg_opacity %}{{ block.bg_opacity }}{% endcapture %}

<div class="content-gallery {% if use_image_matte == 'true' %}content-gallery-matte{% endif %}">
	{% if use_image_matte == 'true' %}
		<div class="image-matte-bg" style="background-image:linear-gradient({{ bg_angle }}deg, {{ bg_color_1 }}, {{ bg_color_2 }}); opacity: {{ bg_opacity }};"></div>
	{% endif %}
  <figure {% if caption_alignment == "right" %}caption-aside{% endif %}>
		<a href="{{ image }}">
			<img src="{{ image }}"/>
		<figcaption class="st-light">{{ caption }}</figcaption> 
  </figure>
</div>