{% capture main_content %}{{ block.main_content }}{% endcapture %}
{% capture quote_content %}{{ block.quote_content }}{% endcapture %}
{% capture quote_offset %}{{ block.quote_offset }}{% endcapture %}
{% capture quote_alignment %}{{ block.quote_alignment }}{% endcapture %}

$alignment = get_sub_field('alignment');
$heading = get_sub_field('paragraph_header');
$vertical_offset = get_sub_field('vertical_offset');
$vertical_total = 1.5265*$vertical_offset;
$quote_content = get_sub_field('quote_content');
$paragraph_content = get_sub_field('paragraph_content');

<div class="content-quote {% if %}{ echo 'content-quote-emphasis';}?>">
	<blockquote><?php text_processor($quote_content,1,1); ?></blockquote>
	<footer class="quote-footer">
		<span class="quote-author"><?php text_processor($quote_author,0,1); ?></span>
	</footer>
</div>
<?php ?>

<div class="content-pull-paragraph-header">
	<?php text_processor($heading,0,1); ?>
</div>
<div class="content-pull-paragraph align-<?php echo $alignment ?>">
	<div class="vertical-spacer">
		<p style="opacity: 0;">
		{% for i in (1..quote_offset) %}
		  <br/>
		{% endfor %}
		</p>
	</div>
	<div class="quote st-light" ><?php text_processor($quote_content,1,1); ?></div>
	<?php text_processor($paragraph_content,1,1); ?>
</div>
<?php ?>

THIS IS ALL KINDS OF FUCKED UP.