<style>
  
  body, html{
    background-color: white;
  }
</style>
{%- include head.html -%}
{% comment %}
<body class="index-page projects-page post-list-body">
  {%- include nav.html -%}
  <div class="page-wrapper <?php echo $category; ?>">
    <div class="base-content-container">
      {%- for post in site.posts -%}
        <a href="{{ post.url }}" class="post-link">
          <div class="post-item">
            <div class="post-border-bottom" style="background-image: linear-gradient({{ post.gradient_angle }}deg, {{ post.bg_color_1 }}, {{ post.bg_color_2 }});"></div>
            {%- if post.header_image != "" -%}
                <div class="post-image-wrapper" style="background-image: linear-gradient({{ post.gradient_angle }}deg, {{ post.bg_color_1 }}, {{ post.bg_color_2 }});?>">
                  <div class="post-image-container" style="background-image:url('{{ post.header_image }}')"></div>
                </div>
            {%- endif -%}
            <h4>{{ post.title }}</h4>       
          {%- if post.post_description != '' -%}
            <p>{{ post.post_description}}</p>
          {%- endif -%}
        </div>
        <p class="subtitle-date">{{ post.date }}</p>
        </a>
      {%- endfor -%}
      <p align="center"><?php posts_nav_link(); ?></p>
    </div>
  </div>
{%- include footer.html -%}
{% endcomment %}
{%- include nav.html -%}
<body class="posts-page">
<div class="post-list-container">
{%- for post in site.posts -%}
  {% capture length %}{{ post.title | size }}{% endcapture %}
  {% capture title %}{{ post.title | slugify | truncate: "3", "" }}{% endcapture %}
  {% capture title_end %}{{ post.title | slugify | slice: "-3", "3" }}{% endcapture %}
  {% capture date %} {{ post.date | date: "%-d" }}{% endcapture %}
  {% capture post_id %}{{ title }}{{ title_end }}{{ date | replace: " ", ""}}{{ length }}{% endcapture %}
  {% for block in post.post_preview %}
  {%- assign template = block.template -%}
  {%- case template -%}
    {%- when 'post-preview' -%}
    <a href="{{ post.url }}" class="post-link">
      <div id="{{ post_id }}" class="
        L-type--{{ block.large_card_type }}
        L-image-align--{{ block.large_image_align }}
        L-content-align--{{ block.large_content_align }}
        L-text-align--{{ block.large_text_align }}
        L-content-meta-position--{{ block.large_content_meta_position }}
        {% unless block.large_image %}L-image--none{% endunless %}
        S-type--{{ block.small_card_type }}
        S-image-width--{{ block.small_image_width }}
        S-image-padding--{{ block.small_image_padding }}
        S-image-bg-position--{{ block.small_image_bg_position }}
        S-text-align--{{ block.small_text_align }}
        {% unless block.small_image %}S-image--none{% endunless %}
        post-list-item">
        <style>
        #{{ post_id }} .post-list-item-bg{ background-color: {{ block.small_bg_color }}; }
        #{{ post_id }} h2{ color: {{ block.small_heading_color }} ; }
        #{{ post_id }} p{ color: {{ block.small_body_color }}; }
        #{{ post_id }} .meta-content{ color: {{ block.small_meta_color }}; }
        @media screen and (min-width: 600px){
          #{{ post_id }} .post-list-item-bg{ background-color: {{ block.large_bg_color }}; }
          #{{ post_id }} h2{ color: {{ block.large_content_heading_color }} ; }
          #{{ post_id }} p{ color: {{ block.large_content_body_color }}; }
          #{{ post_id }} .meta-content{ color: {{ block.large_content_meta_color }}; }
        }
        </style>
        <div class="post-list-item-bg"></div>
        {% if block.small_image_bg %}
        <div class="S-post-list-image-bg S-image-bg-position--{{ block.small_image_bg_position }}" style="background-image:url('{{ site.cloudinary_url }}/{{ block.small_image_bg }}')"></div>
        {% endif %}
        {% if block.large_image_bg %}
        <div class="L-post-list-image-bg L-image-bg-position--{{ block.large_image_bg_position }}" style="background-image:url('{{ site.cloudinary_url }}/{{ block.large_image_bg }}')"></div>
        {% endif %}
        <div class="post-list-item-inner">
          <div class="content-container">
            <div class="flex-container">
              <div class="text-box-primary">
              <h2>{{ post.title }}</h2>
              <p>{{ post.subtitle }}</p>
            </div>
              <div class="image-box">
              {% if block.small_image %}
                <img class="S-image-box" src="{{ site.cloudinary_url }}/{{ block.small_image }}"/>
              {% endif %}
              {% if block.large_image %}
                <img class="L-image-box" src="{{ site.cloudinary_url }}/{{ block.large_image }}"/>
              {% endif %}        
              </div>
            </div>
            <div class="meta-content">DATE 2018 • META</div>
          </div>
        </div>
      </div>
    </a>
    {%- endcase -%}
  {% endfor %}
{% endfor %}

</div>
</body>